@using EntityLayer.Concrete
@model List<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Şehir</th>
        <th>Müşteri Meslek</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.Jop.Name</td>
            <td><a href="/Customer/CustomerDelete/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Customer/CustomerUpdate/@item.ID" class="btn btn-success">Güncelle</a></td>
            
        </tr>
    }
</table>
<a href="/Customer/CustomerAdd" class="btn btn-info">Yeni Müşteri Ekle</a>