@using EntityLayer.Concrete
@model List<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Şehir</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.City</td>
        </tr>
    }
</table>